/* Styles for validation helpers
-----------------------------------------------------------*/
#header 
{
	font-size: 1.8em;
	height: 25px;
	padding: 7px 0;
}
#header #stats 
{
	text-align: right;
}
#status {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 100;

	height: 200px;
	margin-top: -200px;

	width: 600px;
	margin-left: -300px;
}
#status button {
		width: 50%;
		margin: 0 auto;
}
.field-validation-error {
		color: #f00;
		display: block;
		margin-top: 8px;
		text-align: center;
}

.field-validation-valid {
		display: none;
}

.input-validation-error {
		border: 1px solid #f00;
		background-color: #fee;
}

.validation-summary-errors {
		font-weight: bold;
		color: #f00;
}

.validation-summary-valid {
		display: none;
}