<div>
	<div class="row" id="header">
		<div class="span6">
			Time Left: <span data-bind="text: timeLeft"></span>
		</div>
		<div class="span6"> 
			<span data-bind="text: score" id="score"></span>
		</div>
	</div>
	<div data-bind="foreach: gamerows" id="board">
		<div data-bind="foreach: $data" class="row" style="height:25%">
			<button style="height:100%" data-bind="text: val, click: $root.chooseBox, enable: $root.canPlay, attr: {id: 'r' + row + 'c' + col}" class="span2 btn btn-large"></button>
		</div>
	</div>
	<div id="status" class="splash" data-bind="visible: status() !== ''"><div class="message" data-bind="text: status"></div></div>
</div>