<div>
	<div class="row" id="header">
		<div class="col-md-6">
			Time Left: <span data-bind="text: timeLeft"></span>
		</div>
		<div class="col-md-6" id="stats"> 
			Score: <span data-bind="text: score" id="score"></span>
			Streak: <span data-bind="text: streak"></span>
		</div>
	</div>
	<div data-bind="foreach: gamerows" id="board">
		<div data-bind="foreach: $data" class="row" style="height:25%">
			<button style="height:100%" data-bind="text: val, click: $root.chooseBox, enable: $root.canPlay, attr: {id: 'r' + row + 'c' + col}" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 btn btn-large"></button>
		</div>
	</div>
	<div id="status" class="splash" data-bind="visible: status() !== ''"><div class="message" data-bind="text: status"></div></div>
</div>