<div>
	<div class="row">
		<div class="span12">
			<h3>Multiples of?</h3>
		</div>
	</div>
	<div class="row">
		<a class="span2 btn" href="#/game/multiples/two">Two</a>
		<a class="span2 btn" href="#/game/multiples/three">Three</a>
		<a class="span2 btn" href="#/game/multiples/four">Four</a>
		<a class="span2 btn" href="#/game/multiples/five">Five</a>
		<a class="span2 btn" href="#/game/multiples/six">Six</a>
	</div>
	<div class="row">
		<a class="span2 btn" href="#/game/multiples/seven">Seven</a>
		<a class="span2 btn" href="#/game/multiples/eight">Eight</a>
		<a class="span2 btn" href="#/game/multiples/nine">Nine</a>
		<a class="span2 btn" href="#/game/multiples/eleven">Eleven</a>
		<a class="span2 btn" href="#/game/multiples/twelve">Twelve</a>
	</div>
</div>